@cellHeight:200px;
@linkColour: #454545;
@linkColour-hover: #FF4F10;
.rotate {
  color: #ff4f10;

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


ul.names-list{
  list-style: none;
  padding: 0;
  margin: none;
  color: #ffffff !important;
  li{
    margin:0;
    padding: 5px;
    p{
      color: #fffff;
      font-weight: bold;
    }

  }

}
.monday{
  background-color: #e1f1ff;
}

.the-date{
  margin: 3px 10px;
  font-weight: bold;
}

.date-bar{
  border: 1px #cccccc dotted;
}

ul.date-list{
  list-style: none;
  padding: 0;
  margin: none;
  .date-cells{
    position: relative;
    border-top: 1px dotted #454545;
    .date-bar{
      height:@cellHeight;

    }
    ul.individual-leave-cell{
      margin: 0;
      text-align: left;
      padding:0;
      list-style: none;
      font-weight: bold;
      color:#ffffff;
      }
      .leave-list-item{

        border: 1px dotted rgba(255,255,255,.5);
        &.even{ background-color: #59ffd3;}
        &.odd{ background-color: #ff0000;}
        .leave-cell{
          padding: 4px;
          p{
            padding: 0;
            margin: 0;
          }
          a{
            position: absolute;
            right: 10px;
            color:@linkColour;
            font-size: 18px;
            &:hover{
              color: @linkColour-hover;
              text-decoration: none;
            }
        }
      }
    }
  }
}

.show-false{
  display: none;
}

#data-input{
  top:0;
  padding-top:35px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: rgba(255,255,255,.95);
}

#the-data{
  margin-top: 300px;
}


.xTimeAxis path, .xTimeAxis line{
  fill: none;
  stroke: rgba(255,255,255,.2);
  shape-rendering: crispEdges;


}

text{
  font-size: 11px;
  fill:#ffffff;
}

.tickY{
  stroke: #0000ff;

}

.brush{
  fill:rgba(255,0,0,.3);
}

.resize{
  &.e{
    fill:rgba(0,0,255,1);
  }

  &.w{
    fill:rgba(0,0,255,1);

  }
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.brushDateAxis{
  fill:none;
}
