@cellHeight:200px;
.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.test{
  color: #ff00ff;
}

.date-bar{
  border: 1px #cccccc solid;
}

ul.date-list{
  list-style: none;
  padding: 0;
  margin: none;
  .date-cells{
    height: @cellHeight ;
    position: relative;
    .date-bar{
      height:@cellHeight;

    }
    ul.individual-leave-cell{
      margin: 0;
      padding:0;
      list-style: none;
      .leave-list-item{
        position: absolute;
        width: inherit;
        height:80px;
        border: 1px solid #454545;
        &.even{ background-color: #59ffd3;}
        &.odd{ background-color: #ff0000;}
        .leave-cell{
          p{
            .rotate;
          }
        }
      }

    }
  }
}

