.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
ul.names-list {
  list-style: none;
  padding: 0;
  margin: none;
  color: #ffffff !important;
}
ul.names-list li {
  margin: 0;
  padding: 5px;
}
ul.names-list li p {
  color: #fffff;
  font-weight: bold;
}
.monday {
  background-color: #e1f1ff;
}
.the-date {
  margin: 3px 10px;
  font-weight: bold;
}
.date-bar {
  border: 1px #cccccc dotted;
}
ul.date-list {
  list-style: none;
  padding: 0;
  margin: none;
}
ul.date-list .date-cells {
  position: relative;
  border-top: 1px dotted #454545;
}
ul.date-list .date-cells .date-bar {
  height: 200px;
}
ul.date-list .date-cells ul.individual-leave-cell {
  margin: 0;
  text-align: left;
  padding: 0;
  list-style: none;
}
ul.date-list .date-cells ul.individual-leave-cell a {
  color: #454545;
  font-size: 18px;
}
ul.date-list .date-cells ul.individual-leave-cell a:hover {
  color: #656565;
  text-decoration: none;
}
ul.date-list .date-cells ul.individual-leave-cell .leave-list-item {
  border: 1px dotted #ffffff;
}
ul.date-list .date-cells ul.individual-leave-cell .leave-list-item.even {
  background-color: #59ffd3;
}
ul.date-list .date-cells ul.individual-leave-cell .leave-list-item.odd {
  background-color: #ff0000;
}
